h1 {
    text-align: center;
}

.div1, .div2, .div3 {
    border: 2px solid black;
    width: 30%;
    margin: 5px;
    float: left;
    position: relative;
   
    
}

.divtitle {
    border: 1px solid black;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

p {
    padding: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .div1, .div2 {
        border: 2px solid black;
        width: 45%;
        margin: 10px;
        float: left;
        position: relative;  
    }

    .div3 {
        border: 2px solid black;
        width: 95%;
        margin: 5px;
        position: relative;
    }
    
    .divtitle {
        border: 1px solid black;
        width: 100px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        text-align: center;
        font-size: medium;
        font-weight: bold;
    }
}

@media (max-width: 767px) {
    .div1, .div2, .div3 {
        border: 2px solid black;
        width: 90%;
        margin: 10px;
        position: relative;  
    }

        
    .divtitle {
        border: 1px solid black;
        width: 100px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        text-align: center;
        font-size: medium;
        font-weight: bold;
    }
}